html
html 
    head 
        title Login success 
        meta(charset = "utf-8")
    body 
        h1 lốc gin sắc séc phun.
        img(src = "/anya.jpg", alt = "correct")
        p Chào cu #{user}, hôm nay thế nào =)) 
        button#log_out(type = "button")
            a(href = "/logout",style = "text-decoration: none; color: black;") Log out
        